.env
.DS_Store
.idea
.rbenv
.rbx
.gem
.gemrc
tmp/*
data/*.yml
data/*.rb
data/*.pstore
data/dcc/*
data/media/*
data/user/*.pstore
data/user/*.yml
log/*.log
config/config.yml
config/secret.yml
config/users.yml
config/ignore.yml
*.pstore
db/*.db
