!!! 5
%html
  %head
    %title ChatLog
    %meta{:charset => 'utf-8'}
    = bootstrap_assets
    %link(rel="stylesheet" type="text/css" href="/layout.css")
  %body
    .container
      %table.table.table-condensed.table-striped
        %thead
          %tr
            %td.col-sm-1 Date
            %td.col-sm-1 Nick
            %td.col-sm-10 Message
        %tbody.table-hover
          - @msgs.each do |m|
            %tr
              %td=m.time.to_s(:long)
              %td=m.nick
              %td=m.msg