# bot name
bot:
  nick: zeta
  nicks: 'Bota Botaa'
  username: zeta
  realname: zeta

server:
  # bot channel
  channels: '#flagrun'
  network: Darkscience
  hostname: irc.darkscience.net
  password:
  port: 6697
  ssl: true
  modes: '+b'
  max_messages: 5
  messages_per_second: 0.5

  services:
    chanserv: t
    nickserv: t
    memoserv: f
    rpgserv:  f
    botserv:  f
    hostserv: f

sasl:
  username:
  password:

master:
  nick: m00t